body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(43, 191, 231);
}

.contenedor_superior {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;

}

.datos_alumno {
    display: flex;
    align-items: center;
    gap: 20px;
    flex: 1;
    padding: 20px;
    border: 2px solid #000;
    background-color: white;
}

.foto {
    flex-grow: 0; 
    flex-shrink: 0;
    flex-basis: auto;
    max-width: 200px;
}

.foto img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.datos_personales {
    flex: 1;
}

.descripcion_carrera {
    flex: 1;
    padding: 20px;
    border: 2px solid #000;
    background-color: white;
}

.contenedor_inferior {
    display: flex;
    justify-content: space-between;
    gap: 5px; 
}

.libros, .hobbies, .sitios_web {
    flex: 1; 
    margin: 20px; 
    padding: 10px; 
    border: 2px solid #000; 
    background-color: white;
}
table {
    width: 100%; 
    table-layout: fixed; 
  }
  
  th, td {
    width: 33.33%;
    text-align: center; 
  }
  